<%- include('../partials/header') %>

<br>
<section class="book">
    <div class="spine">
        <span class="booktitle">
            <div class="title"><%= book.title %></div>
        </span>
        <span class="bookauthor-year">
            <%= book.author %><br>
            <%= book.publishYear %><br>
            <%= book.rating.rating %>
        </span><br><br>
        <form action="/books/<%= book._id %>/rating" method="POST">
            <select name="rating">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
            <button type="submit" class="btn">Rate</button>
        </form>
    </div>
</section>

<%- include('../partials/footer') %>