<%- include('./partials/header') %>

      <br>
      <h1>uh oh!</h1><br>
      <h1>🤯</h1><br>
        <br>
        <h3><%= error.status %></h3>
        <h2><%= message %></h2><br>
        <section class="error">
          <p><%= error.stack %></p>
        </section>

<%- include('./partials/footer') %>